This notebook presents the intermidiate outputs of the data handling steps of the main notebook TLA_4D_Example.ipynb. These outputs can visualize how the dataset is preprocessed.

In [1]:
import numpy as np
import pandas as pd

Load the dataset

In [2]:
# Read the whole csv using pandas, fill the missing elements with None
dataset = pd.DataFrame([line.strip().split(';') for line in open('monojet_Zp2000.0_DM_50.0_chan3.csv', 'r')])

# Show the output of this step
dataset

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,832841,-1.22431,"b,947383,824498,-0.523103,1.64421","j,258722,243675,0.328962,2.25014","j,520092,108590,-2.2473,-1.85679","j,383024,88405.6,2.14516,-1.95635","j,39507.6,35365.1,0.47046,-1.16445","j,225430,26878.2,-2.81608,-2.25938",,None,None,None,None,None,None
1,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,732115,1.17245,"j,1.06946e+06,751597,0.858186,-1.84217","j,457647,110079,2.10287,2.17501","j,49649.1,30875.2,-1.03189,-1.7992",,None,None,None,None,None,None,None,None,None
2,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,1.05628e+06,-3.06744,"j,676000,640429,0.33045,0.704554","j,1.2393e+06,602104,1.34324,-0.550856","j,193865,44825.7,-2.14231,-0.965933","j,28217.2,24926.6,-0.454264,0.516676",,None,None,None,None,None,None,None,None
3,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,631781,1.64181,"j,936707,616229,0.973383,-1.56592","j,75998,52304.3,0.905489,-0.806736",,None,None,None,None,None,None,None,None,None,None
4,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,457316,-1.87536,"j,640313,589524,0.390749,1.23734","j,332790,126272,1.61998,-1.85524",,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6394,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,914355,1.52903,"j,1.11994e+06,1.01269e+06,0.453265,-1.77278","b,246762,95229.6,1.60511,-0.520258","j,402070,77864.5,2.32445,0.92948","j,74709.2,69979.3,0.359168,0.94458",,None,None,None,None,None,None,None,None
6395,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,782256,-1.20751,"j,1.91509e+06,874869,1.41855,1.83927","j,156224,152161,-0.222571,-1.83395","j,102296,64861.3,1.02478,0.412515","j,421972,37149.5,-3.12086,2.50949",,None,None,None,None,None,None,None,None
6396,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,645619,-2.48399,"j,787964,263158,1.75981,0.456786","j,408087,258903,-1.0269,1.53073","j,1.42801e+06,204716,-2.63018,-0.253528","j,75924.4,63520.6,-0.586197,0.84639","j,54710.9,47683.2,0.527799,-1.58165","j,173678,45568.1,-2.01196,1.10735","j,170938,28409.1,-2.47968,2.38334","j,43035.2,26973.3,-1.02803,0.105967",,None,None,None,None
6397,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,632390,-0.975687,"j,731849,722541,-0.134499,2.56393","j,268828,259144,0.153813,0.578428","j,153340,43931.5,1.92014,-0.237382",,None,None,None,None,None,None,None,None,None
6398,354,monojet_Zp2000.0_DM_50.0,2.44336e-05,820060,-0.0437853,"j,893689,742040,-0.618057,-3.10466","j,107526,106995,-0.0485649,2.43606",,None,None,None,None,None,None,None,None,None,None

In [3]:
# Convert the dataset into a np array for easy slicing and filtering
dataset = dataset.values

# Show the output of this step
dataset

array([['354', 'monojet_Zp2000.0_DM_50.0', '2.44336e-05', ..., None,
        None, None],
       ['354', 'monojet_Zp2000.0_DM_50.0', '2.44336e-05', ..., None,
        None, None],
       ['354', 'monojet_Zp2000.0_DM_50.0', '2.44336e-05', ..., None,
        None, None],
       ...,
       ['354', 'monojet_Zp2000.0_DM_50.0', '2.44336e-05', ..., None,
        None, None],
       ['354', 'monojet_Zp2000.0_DM_50.0', '2.44336e-05', ..., None,
        None, None],
       ['354', 'monojet_Zp2000.0_DM_50.0', '2.44336e-05', ..., None,
        None, None]], dtype=object)

In [4]:
# Remove the first 5 columns of the dataset and convert the dataset into a 1D array
# Now the datasets contains the data points, None values, and empty strings
dataset = dataset[:,5:].reshape(-1)

# Show the output of this step
dataset

array(['b,947383,824498,-0.523103,1.64421',
       'j,258722,243675,0.328962,2.25014',
       'j,520092,108590,-2.2473,-1.85679', ..., None, None, None],
      dtype=object)

In [5]:
# Remove the None values and empty strings
dataset = dataset[dataset != None]
dataset = dataset[dataset != '']

# Show the output of this step
dataset

array(['b,947383,824498,-0.523103,1.64421',
       'j,258722,243675,0.328962,2.25014',
       'j,520092,108590,-2.2473,-1.85679', ...,
       'j,153340,43931.5,1.92014,-0.237382',
       'j,893689,742040,-0.618057,-3.10466',
       'j,107526,106995,-0.0485649,2.43606'], dtype=object)

In [6]:
# Since every data point is one single string, split them as a list of strings based on the commas
dataset = np.array([data.split(',') for data in dataset])

# Show the output of this step
dataset

array([['b', '947383', '824498', '-0.523103', '1.64421'],
       ['j', '258722', '243675', '0.328962', '2.25014'],
       ['j', '520092', '108590', '-2.2473', '-1.85679'],
       ...,
       ['j', '153340', '43931.5', '1.92014', '-0.237382'],
       ['j', '893689', '742040', '-0.618057', '-3.10466'],
       ['j', '107526', '106995', '-0.0485649', '2.43606']], dtype='<U12')

In [7]:
# Remove the non-jet datapoints
dataset = dataset[dataset.T[0] == 'j']

# Show the output of this step
dataset

array([['j', '258722', '243675', '0.328962', '2.25014'],
       ['j', '520092', '108590', '-2.2473', '-1.85679'],
       ['j', '383024', '88405.6', '2.14516', '-1.95635'],
       ...,
       ['j', '153340', '43931.5', '1.92014', '-0.237382'],
       ['j', '893689', '742040', '-0.618057', '-3.10466'],
       ['j', '107526', '106995', '-0.0485649', '2.43606']], dtype='<U12')

In [8]:
# Remove the first columns of 'j' and convert the data values into floats
dataset = dataset.T[1:].T.astype(float)

# Show the output of this step
dataset

array([[ 2.58722e+05,  2.43675e+05,  3.28962e-01,  2.25014e+00],
       [ 5.20092e+05,  1.08590e+05, -2.24730e+00, -1.85679e+00],
       [ 3.83024e+05,  8.84056e+04,  2.14516e+00, -1.95635e+00],
       ...,
       [ 1.53340e+05,  4.39315e+04,  1.92014e+00, -2.37382e-01],
       [ 8.93689e+05,  7.42040e+05, -6.18057e-01, -3.10466e+00],
       [ 1.07526e+05,  1.06995e+05, -4.85649e-02,  2.43606e+00]])

In [9]:
# Store the dataset as a pandas DataFrame with corresponding labels
dataset = pd.DataFrame(dataset, columns=['E', 'pt', 'eta', 'phi'])

# Show the output of this step
dataset

              E        pt       eta       phi
0      258722.0  243675.0  0.328962  2.250140
1      520092.0  108590.0 -2.247300 -1.856790
2      383024.0   88405.6  2.145160 -1.956350
3       39507.6   35365.1  0.470460 -1.164450
4      225430.0   26878.2 -2.816080 -2.259380
...         ...       ...       ...       ...
22656  731849.0  722541.0 -0.134499  2.563930
22657  268828.0  259144.0  0.153813  0.578428
22658  153340.0   43931.5  1.920140 -0.237382
22659  893689.0  742040.0 -0.618057 -3.104660
22660  107526.0  106995.0 -0.048565  2.436060

[22661 rows x 4 columns]

Normalize the dataset

In [10]:
# this function is based on the custom_unnormalize function defined in the original file
def custom_normalize(df):
    df['eta'] = df['eta'] / 5
    df['phi'] = df['phi'] / 3
    df['E'] = np.log10(df['E'])
    #df['m'] = np.log10(df['m'])
    df['pt'] = np.log10(df['pt'])
    return df

# normalize the dataset
dataset = custom_normalize(dataset)

# Show the output of this step
dataset

              E        pt       eta       phi
0      5.412833  5.386811  0.065792  0.750047
1      5.716080  5.035790 -0.449460 -0.618930
2      5.583226  4.946480  0.429032 -0.652117
3      4.596681  4.548575  0.094092 -0.388150
4      5.353012  4.429400 -0.563216 -0.753127
...         ...       ...       ...       ...
22656  5.864421  5.858862 -0.026900  0.854643
22657  5.429475  5.413541  0.030763  0.192809
22658  5.185655  4.642776  0.384028 -0.079127
22659  5.951186  5.870427 -0.123611 -1.034887
22660  5.031513  5.029363 -0.009713  0.812020

[22661 rows x 4 columns]

Split the dataset into a training set and a testing set

In [11]:
# Use the first 4/5 of the data as the training set
train = dataset[:(22661*4//5)]

# Show the output of this step
train

              E        pt       eta       phi
0      5.412833  5.386811  0.065792  0.750047
1      5.716080  5.035790 -0.449460 -0.618930
2      5.583226  4.946480  0.429032 -0.652117
3      4.596681  4.548575  0.094092 -0.388150
4      5.353012  4.429400 -0.563216 -0.753127
...         ...       ...       ...       ...
18123  4.969089  4.440547  0.376916 -0.910243
18124  5.828134  5.823351  0.004117  0.262135
18125  5.834517  4.971659 -0.534946 -0.934130
18126  4.916522  4.847567 -0.113115  0.332273
18127  4.649857  4.540970 -0.142032 -0.371327

[18128 rows x 4 columns]

In [12]:
# Use the last 1/5 of the data as the testing set
test = dataset[(22661*4//5):]

# Show the output of this step
test

              E        pt       eta       phi
18128  4.500611  4.493988 -0.006970 -0.354950
18129  6.086566  5.750889  0.281522  0.591603
18130  5.264320  5.159188 -0.142921 -0.546207
18131  5.021334  4.486637 -0.380098  0.314955
18132  5.661640  5.519049 -0.168007  0.299902
...         ...       ...       ...       ...
22656  5.864421  5.858862 -0.026900  0.854643
22657  5.429475  5.413541  0.030763  0.192809
22658  5.185655  4.642776  0.384028 -0.079127
22659  5.951186  5.870427 -0.123611 -1.034887
22660  5.031513  5.029363 -0.009713  0.812020

[4533 rows x 4 columns]